# Python introduction, part 1

## Prerequisites
- None

## Learning objectives
- Use basic mathematical operations of addition, subtraction, multiplication, division, and exponents
- Create and store numeric and text variables
- Differentiate variable types of float, integer, string, and boolean
- Round numeric float variables 
- Add comments to the code
- Use the print function

## References
- https://docs.python.org/3/tutorial/introduction

### Using the Jupyter notebook
- Jupyter notebooks allow you to create independent cells 
    - e.g., markdown (like this cell), or code (see later)
- Add cells 
    - clicking the icons in the top right of an existing cell or "+" icon at the top menu bar
    - The default type is "code"
- Delete cells 
    - by pressing the trash icon. Careful! undo doesn't always work well.
- Execute the code in one particular cell
    - Pressing SHIFT and RETURN (or ENTER, depending on your keyboard) at the same time.
    - or click the button on the menu with the single arrow (looks like a 'play' symbol)
- Execute the entire notebook
    - Press the double arrow button in the menu bar.
    - To restore, under "Kernel" at the menu bar, select 'restart kernel and clear output of cells' under the kernel menu. (this typically happens when you find the code not working as you expected). 
- If you want to start again, save this notebook as something else (if you want to keep it) and re-download the original notebook

### Use Python like a calculator

#### Addition and subtraction
In the grey code block below, experiment with addition and subtraction.
- use the '+' symbol for addition and '-' for subtraction
  - Input 2+5 and then run the code
  - Play around with other numbers, including decimals and negative numbers

__Multiplication and division__
- use `*` for multiplication, `/` for divide
  - try `2*7` and `2/7`
- output includes decimals when you start with a number with a decimal
  - try `3*2` and `1.5*2`

__Use  '(' and ')' brackets for numeric operations__
- Try `(2+5)/3` and `(5+1)/(6+2) - 1`
   - We'll see brackets used in other ways, but here they are used for traditional order of operations;

__Raise a numeric value to a power__ 
- use `**` to raise a value to a power
 - 4 squared is `4 ** 2`, and the square root of 4 is `4 ** 0.5` or `4 ** (1/2)`
 - Try using `**` in the code block below and verify with a handheld calculator

__Experiment with order of operations__
- Experiment with brackets and numerical operations
    - try things like `(6-3)**2/2 -1` _you should get an answer of 3.5_ Try others and compare with your handheld calculator

### Creating variables ###

- The equal sign (=) is used to assign a value to a variable.
    - Afterwards, no result is displayed after you execute the code
- Below is an example of a variable called width.  Run the code below.
    - if you want to see the value for width, type `width` under `width = 10` or create a new code block and type `width` and run the code

In [ ]:
width = 10

In [ ]:
width

- You can define several variables in one code block
- You can create variables that are functions of other variables (note that we have already defined width earlier)
- run the code in the block below

In [ ]:
height = 12
depth = 4
area = height * width
volume = area * depth 
check = volume - area*height*depth

- In the code block below, enter any of the variable names above and run the code
 - Choose new values for width, height, and depth and see how area and volume change.  _Be sure to re-run the code for width if you change the value_

- Experiment with creating variables and formulas in the code block below (e.g., Pythagorean theorem)
    - View the value of a variable by adding a new code block, typing the variable, and running the code or entering the variable name as the last line before running the code

### Variable types: int and  floats

- Integer numeric types have no decimal. Python returns `int` for integer types and `float` for other numeric types
- Float numeric types include at least one decimal, which could be a zero.
- Execute the code block below by pressing SHIFT + ENTER

In [ ]:
num_int   = 42
num_float = 3.14

- in the block below input `type(num_float)` or `type(num_int)` and run the code

In [ ]:
type(num_float)

- change the type of `num_int` to a float. Input `num_int = float(num_int)`  and run the code
    - (i) `float(num_int)` changes the type of num_int to float, and (ii) `=` assign the type back to `num_int`
    - You can also use a new variable name for step (ii): `new_float = float(num_int)`

- Adding, subtracting, and multiplying integers returns another integer.
- Division always returns a float.
- Experiement with  creating new variables and variable types below

### Use the round() function

- Python includes the built-in function "round" that will round floats to your desired decimal places
- Execute the code block below to show the value for the variable "z"

In [ ]:
z = 11/3
z

- `round(z)` returns the value for z rounded to the nearest integer
- `round(z, 2)` returns z rounded to 2 decimal places
- `round(z, 4)` returns z rounded to 4 decimal places, and so on.
- Try rounding z below.
    - Notice that `round(z, n)` returns z rounded to n decimal places but does not redefine the value for z.  If you want to save the variable z rounded to two decimal places, you need to create a new variable `z_rounded = round(z, 2)` or redefine z as `z = round(z, 2)`

### Variable types: strings

- Variables that consist of text are strings
 - Python returns `str` if the variable is text
- Understanding how Python handles strings is very useful when we get to work with actual data, as some important variables are reported as strings (e.g., gender, race)

In [ ]:
str_var = 'This is a string'

- enter `type(str_var)` below str_var in the code block below and excute the code

- For some reason, some numbers are coded as strings -- see below.
- You can change numbers to integers or floats
    - `float(text_num)` returns text_num to a float and `int(text_num)` returns text_num to an integer.
    - Note that the variable text_num remains unchanged unless you define a new varable: `text_num_converted = float(text_num)` or redefine `text_num = float(text_num)`
    - Try this in the code block below

In [ ]:
text_num = '42'

- You can change numeric types of floats and integers to strings
- Try converting num_text to a string by entering `str(num_text)` in the codeblock below num_text

In [ ]:
num_text = 78.5

- Strings that have non-numeric elements cannot be converted to numeric types
    - Try `float(str_var)` and you will get an error message.

- You cannot convert a string that includes non-numeric characters to a float or integer
    - Try entering `float(combo)` in the codeblock below combo, you should see an error

In [ ]:
combo = 'Cara44'

### Variable types: boolean 
- boolean variables are either `True` or `False` (logic variable or binary variable) -- Don't forget to capitalize "T" and "F"
- Useful when you run tests or give logic conditions (more later)
- enter `type(true_bool)` below true_bool in the code block and run the code

In [ ]:
true_bool = True

- to test if a variable is equal to a value use `==`
- type `val === 3` below `val = 3` and run the code below
- try again with `val==4`

In [ ]:
val = 3.0

- Test if variables are
    - greater than `>`
    - greater than or equal to `>=`
    - less than `<`
    - less than or equal to `<=`
In the code block below, create a variable test_val and experiement with tests

- Create a variable to store the test result

In [ ]:
test1 = val >= 3

### Add comments to the code (simple but powerful)
- In the future, you will write many lines of code in a single block in a notebook like this one or in a separate .py file
- You will want to explain your code to yourself and others using comments or "comment out" variables you don't want to use. 
 - Anything in Python preceded by '#' will be ignored and not executed.
- Run the code below and notice how the comments are ignored.

In [ ]:
# Here are some comments 
# Create a formula for the Pythagorean theorem
a = 4
b = 3
c = (a**2 + b**2) ** (1/2)

# Please change the values a and b to obtain the value of c.
# To see the value of q, type 'c' on the line below and press RETURN + ENTER

### Use the print function
- so far, values for a variable display if they are the last (or only) line in the code block
- we can use the `print()` function to print values regardless of placement
- execute the code block below
  - Notice that you can create a text variable or print text directly

In [ ]:
test_a = 'Here is our value for a'
print('Here is our value for c')
print(c)
print(test_a)
print(a)